@font-face {
   font-family: '苏新诗古印宋简';
   font-display: swap;
   src: url('file:///Users/apple/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2020-04-07_082630/fonts/%E8%8B%8F%E6%96%B0%E8%AF%97%E5%8F%A4%E5%8D%B0%E5%AE%8B%E7%AE%80/font.ttf');
}
