@font-face {
   font-family: '腾祥童宋';
   font-display: swap;
   src: url('file:///Users/apple/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2020-04-07_082630/fonts/%E8%85%BE%E7%A5%A5%E7%AB%A5%E5%AE%8B/font.ttf');
}
