@font-face {
   font-family: 'IPixä¸­æåç´ å­ä½';
   font-display: swap;
   src: url('file:///Users/apple/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2020-04-07_082630/fonts/IPixa%CC%88%C2%B8%C2%AD%C3%A6%C2%96%C2%87a%CC%8A%C2%83%C2%8Fc%CC%A7%C2%B4%C2%A0a%CC%8A%C2%AD%C2%97a%CC%88%C2%BD%C2%93/font.ttf');
}
