@font-face {
   font-family: '苏新诗古印宋简';
   font-display: swap;
   src: url('苏新诗古印宋简/font.ttf');
}
@font-face {
   font-family: '腾祥童宋';
   font-display: swap;
   src: url('腾祥童宋/font.ttf');
}
@font-face {
   font-family: 'IPixä¸­æåç´ å­ä½';
   font-display: swap;
   src: url('IPixä¸­æåç´ å­ä½/font.ttf');
}
